.balances{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.monthlyBalance{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
}
.monthlyBalance >input{
    width: 30%;
    height: 40px;
    outline: none;
}
hr{
    width: 100%;
}
.chart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}